@theme {
  --shadow-borders-interactive-with-active: 0px 0px 0px 1px
      rgba(59, 130, 246, 1),
    0px 0px 0px 4px rgba(59, 130, 246, 0.2);
  --shadow-buttons-danger-focus: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2)
      inset,
    0px 1px 2px 0px rgba(190, 18, 60, 0.4), 0px 0px 0px 1px rgba(190, 18, 60, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --shadow-details-contrast-on-bg-interactive: 0px 1px 2px 0px
    rgba(30, 58, 138, 0.6);
  --shadow-borders-interactive-with-focus: 0px 1px 2px 0px
      rgba(30, 58, 138, 0.5),
    0px 0px 0px 1px rgba(59, 130, 246, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --shadow-borders-error: 0px 0px 0px 1px rgba(225, 29, 72, 1),
    0px 0px 0px 3px rgba(225, 29, 72, 0.15);
  --shadow-borders-focus: 0px 0px 0px 1px rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(59, 130, 246, 0.6);
  --shadow-borders-interactive-with-shadow: 0px 1px 2px 0px
      rgba(30, 58, 138, 0.5),
    0px 0px 0px 1px rgba(59, 130, 246, 1);
  --shadow-buttons-danger: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(190, 18, 60, 0.4), 0px 0px 0px 1px rgba(190, 18, 60, 1);
  --shadow-buttons-inverted-focus: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2)
      inset,
    0px 1px 2px 0px rgba(0, 0, 0, 0.4), 0px 0px 0px 1px rgba(24, 24, 27, 1),
    0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --shadow-elevation-card-hover: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  --shadow-details-switch-handle: 0px 0px 2px 1px rgba(255, 255, 255, 1) inset,
    0px 1px 0px 0px rgba(255, 255, 255, 1) inset,
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.02), 0px 5px 4px 0px rgba(0, 0, 0, 0.02),
    0px 3px 3px 0px rgba(0, 0, 0, 0.04), 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 1px 0px rgba(0, 0, 0, 0.08);
  --shadow-buttons-neutral: 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-borders-base: 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  --shadow-elevation-card-rest: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 1px 2px -1px rgba(0, 0, 0, 0.08), 0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-buttons-neutral-focus: 0px 1px 2px 0px rgba(0, 0, 0, 0.12),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 0px 0px 2px rgba(255, 255, 255, 1),
    0px 0px 0px 4px rgba(59, 130, 246, 0.6);
  --shadow-details-switch-background-focus: 0px 0px 0px 1px
      rgba(255, 255, 255, 1),
    0px 0px 0px 3px rgba(59, 130, 246, 0.6),
    0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset,
    0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset,
    0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-details-switch-background: 0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04) inset,
    0px 0px 0px 0.75px rgba(0, 0, 0, 0.06) inset,
    0px 0px 8px 0px rgba(0, 0, 0, 0.02) inset,
    0px 2px 4px 0px rgba(0, 0, 0, 0.04);
  --shadow-elevation-flyout: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 4px 8px 0px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
  --shadow-elevation-tooltip: 0px 0px 0px 1px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08), 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  --shadow-elevation-modal: 0px 0px 0px 1px rgba(255, 255, 255, 1) inset,
    0px 0px 0px 1.5px rgba(228, 228, 231, 0.6) inset,
    0px 0px 0px 1px rgba(0, 0, 0, 0.08), 0px 8px 16px 0px rgba(0, 0, 0, 0.08),
    0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  --shadow-elevation-code-block: 0px 0px 0px 1px rgba(24, 24, 27, 1) inset,
    0px 0px 0px 1.5px rgba(255, 255, 255, 0.2) inset;
  --shadow-buttons-inverted: 0px 0.75px 0px 0px rgba(255, 255, 255, 0.2) inset,
    0px 1px 2px 0px rgba(0, 0, 0, 0.4), 0px 0px 0px 1px rgba(24, 24, 27, 1);
  --shadow-elevation-commandbar: 0px 0px 0px 0.75px rgba(39, 39, 42, 1) inset,
    0px 0px 0px 1.25px rgba(255, 255, 255, 0.3) inset,
    0px 8px 16px 0px rgba(0, 0, 0, 0.08), 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
}
